#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#header{
    position: relative;

}
p#me img {
background-position-x: 50px; /* move it to the left */
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#random-image-container img {
  margin-top: 20px;
}
