#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

p.artist{
    color:#5e7059;
    line-height:30px;
}
.container{
    display:flex;
    height:125px;
    width:300;
    flex-wrap:wrap;

    
    
}
.artist{
    margin:20px;
    height:20px;
    width: 120px;
    font-weight:bold;
    color:#000000;

}
.titles{
    color:#5e7059;
    font-size:130%;
}
.row img{
    width:40%;
}
.plant img{
    width:35%;
    height:50%;
    top:-20px;
    left:50px;
    float:right;
}
.subtitles{
    color:#5e7059;
    line-height:30px;
}
.name{
    color:#5e7059;
    font-family:optima;
    font-size:300%;

}
.me img{
    vertical-align:middle;
    margin:0px 50px;
    width:200px
}


.contactname{
    display:flex;
    height:25px;
    width:120;
    flex-wrap:wrap;
}
.social{
    height:25px;
    width: 120px;
    font-weight:bold;
    left:-5px;
    color:#000000;
}
.link{
    margin:10px;
    height:0px;
    width: 120px;
}
.links{
    display:flex;
    height:30px;
    width:120;
    flex-wrap:wrap;
}